CONFIG_RISCV32=y
CONFIG_SOC_SERIES_RISCV32_MSC02=y
CONFIG_SOC_RISCV32_MSC02=y
CONFIG_BOARD_MSC02_ICESTORM=y
CONFIG_CONSOLE=y
CONFIG_RAM_CONSOLE=y
CONFIG_SERIAL=n
CONFIG_PLIC=n
CONFIG_RISCV_MACHINE_TIMER=y
CONFIG_GPIO=n
CONFIG_XIP=y
