if SOC_SERIES_RISCV32_MSC02

config SOC_SERIES
	string
	default "msc02"

config SYS_CLOCK_HW_CYCLES_PER_SEC
	int
	default 12000000

config RISCV_SOC_INTERRUPT_INIT
	bool
	default n

config RISCV_HAS_CPU_IDLE
	bool
	default n

config RISCV_HAS_PLIC
	bool
	default n

config NUM_IRQS
	int
	default 17

config XIP
	bool
	default y

config RISCV_ROM_BASE_ADDR
	hex
	default 0x00000000

config RISCV_ROM_SIZE
	hex
	default 0x3C00

config RISCV_RAM_BASE_ADDR
	hex
	default	0x10000000

config RISCV_RAM_SIZE
	hex
	default 0x8000

endif # SOC_SERIES_RISCV32_MSC02
